<!DOCTYPE html>
<html lang="en">

<head>
    <title>Barbershop Scheduler</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css" </head>

    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Classic Style</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="/login">Log In</a></li>
                    <li><a href="/logout">Log Out</a></li>
                    <li class="active"><a href="/index">Home</a></li>
                   <!--  <li><a href="/services">Services</a></li> -->
                    <li><a href="/reservation">Reservations</a></li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <h1>Barber Pro 5.0</h1>
            <br>
            <img src="https://static1.squarespace.com/static/55badcf5e4b09e80d2189c99/t/56415323e4b0a6ed01c8d0e6/1447121713238/barbershop.jpg?format=1500w" height="500px;">
        </div>
        <br>
        <div class="aboutUs">
            <h1>Welcome to Barber Pro 5.0</h1>
            <p>Barber Pro 5.0 offers scheduling assistance via data storage which includes friendly consumer sms reminders. We also assist with managing daily inventory for our customers</p>
        </div>
    </body>

</html>