
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Barbershop Scheduler</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css" </head>

    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Classic Style</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="/logout">Log Out</a></li>
                    <li><a href="/index">Home</a></li>
                    <!-- <li class="active"><a href="/services">Services</a></li> -->
                    <li><a href="/reservation">Reservations</a></li>
                    <li><a href="/productlist">Products</a></li>
                    <li><a href="/inventoryinput">+/-Quantity</a></li>
                </ul>
            </div>
        </nav>
        <div class="Services">
            <h1>Product List</h1>
        </div>
        <br>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody id="product-table-body">
            </tbody>
        </table>
        </div>
    </body>
	<script>
		$(document).ready(function() {
			$.getJSON('/api/products', function(products) {
				products.forEach(function(product) {
					var productHtml = `
					<tr>
                    	<td>${product.ItemId}</td>
                    	<td>${product.ProductName}</td>
                    	<td>${product.StockQuantity}</td>
                	</tr>
					`;

					$('#product-table-body').append(productHtml);
				});
			});
		})
	</script>
</html>