<!DOCTYPE html>
<html lang="en">

<head>
    <title>Barbershop Scheduler</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css" </head>

    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Classic Style</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/login">Log In</a></li>
                    <li><a href="/logout">Log Out</a></li>
            </div>
        </nav>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="loginContainer">
            <div class="title">
                <h1>Welcome to Barber 5.0</h1>
            </div>
            <div class="login">
                <form role="form" method="POST" action="/login">
                    User name:
                    <br>
                    <input type="text" name="username">
                    <br>
                    <br> User password:
                    <br>
                    <input type="password" name="password">
                    <button type="submit">Submit</button>
                </form>
                <br>
                <br>
            </div>
        </div>
    </body>

</html>